@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    background: #f12711 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contact-img{
    width: 150px;
    border-radius: 50%;
}
.contact-img-big{
    width: 200px;
    border-radius: 50%;
}
.load-gif{
    width: 150px;
    height: auto;
    border-radius: 40%;
    
}